<!DOCTYPE html>
<html>

	<head>
	  <title> Blogails Admin </title>
	  <%= stylesheet_link_tag    'application', media: 'all'%>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>

	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>
		<%= render 'layouts/admin/header' %>

		<div class="row admin_panel">
			<div class="col s2 blue-grey lighten-3 sidebar">
				<%= render 'layouts/admin/sidebar' %>
			</div>
			<div class="col s10 content">
				<%= yield %>
			</div>
		</div>

		<%= tinymce %>

	</body>
	
</html>
